# Убедитесь, что текстовые файлы используют LF окончания строки на всех платформах
* text=auto

# Настройка для CSS файлов
*.css text eol=lf

# Настройка для JavaScript файлов
*.js text eol=lf

# Настройка для HTML файлов
*.html text eol=lf
